<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/style.css">
    <title>EatIt | Admin panel</title>
</head>
<body style="background-color: #F4F4F4;">
    <nav class="navbar" style="background-color: #FFFFFF;">
        <div class="container-fluid p-2 border-bottom border-1">
            <h4 class=""> {{  session["owner_email"].split("@")[0]  }} </h4>
            <form action="/admin/dashboard" method="GET">
                <button class="btn w-100 mb-2 pt-2 text-left bg-grey-hover" type="submit">
                    <div class="d-flex align-items-center">
                        <img src="/static/images/dashboard.png" style="width: 20px;" class="me-2" alt="Office Icon">
                        <p class="mb-0">Dashboard</p>
                    </div>
                </button>
            </form>
            <form action="/admin/menu" method="GET">
                <button class="btn w-100 mb-2 pt-2 text-left bg-grey-hover" type="submit">
                    <div class="d-flex align-items-center">
                        <img src="/static/images/menu (1).png" style="width: 20px;" class="me-2" alt="Office Icon">
                        <p class="mb-0">Menu management</p>
                    </div>
                </button>
            </form>
            <form action="/admin/orders" method="GET">
                <button class="btn w-100 mb-2 pt-2 text-left bg-grey-hover" type="submit">
                    <div class="d-flex align-items-center">
                        <img src="/static/images/order.png" style="width: 20px;" class="me-2" alt="Office Icon">
                        <p class="mb-0">Orders</p>
                    </div>
                </button>
            </form>
            <form action="/admin/settings" method="GET">
                <button class="btn w-100 mb-2 pt-2 text-left bg-grey-hover" type="submit">
                    <div class="d-flex align-items-center">
                        <img src="/static/images/settings.png" style="width: 20px;" class="me-2" alt="Office Icon">
                        <p class="mb-0">Settings</p>
                    </div>
                </button>
            </form>
            <form action="/signout" method="POST">
                <button class="btn w-100 mb-2 pt-2 text-left bg-grey-hover" type="submit">
                    <div class="d-flex align-items-center">
                        <img src="/static/images/logout.png" style="width: 20px;" class="me-2" alt="Office Icon">
                        <p class="mb-0"> Sign out </p>
                    </div>
                </button>
            </form>
        </div>
    </nav>
    <div class="container-fluid">
        {% block body %} {% endblock %}
    </div>
    <script src="/static/script.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>