{% extends "/admin/base.html" %}

{% block body %} 
    <div class="container mt-5">
        <div class="row text-center">
            <div class="col border p-2">
                <h2>$86,802.60</h2>
                <p>Sales</p>
            </div>
            <div class="col border p-2">
                <h2>383</h2>
                <p>Delivered</p>
            </div>
            <div class="col border p-2">
                <h2>1067</h2>
                <p>Orders</p>
            </div>
            <div class="col border p-2">
                <h2>502</h2>
                <p>Customers</p>  
            </div>
        </div>
        <!-- <div class="row">
            <div class="col">
                <h3 class="fw-bold pt-5">All Orders</h3>
                <h3>1067</h3>
                <p>New Orders</p>
            </div>
            <div class="col">

            </div>
        </div> -->
    </div>
{% endblock %}