{% extends "/admin/base.html" %}
{% block title %} Menu {% endblock %}
{% block body %}
<!-- Add item modal -->
    <div class="modal fade" id="addItem" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title"> Add Item </h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="/admin/add-item" method="POST" enctype="multipart/form-data" class="needs-validation" novalidate>
                        <div class="mt-3">
                            <label class="form-label fw-bold">Item name</label>
                            <input name="item_name" type="text" class="form-control" placeholder="e.g. Pizza" required> 
                            <div class="invalid-feedback">Please complete mandatory field.</div>
                        </div>
                        <div class="mt-3">
                            <label class="form-label fw-bold">Price</label>
                            <input name="price" type="text" class="form-control" placeholder="In format: 25.50 or 100.00" pattern="^^(?!0\d)\d+\.\d{2}$" required> 
                            <div class="invalid-feedback">Price should be in format: 25.50 or 100.00</div>
                        </div>
                        <div class="mt-3">
                            <label class="form-label fw-bold">Category</label>
                            <input name="category" type="text" class="form-control" placeholder="e.g. Pizzas" required> 
                            <div class="invalid-feedback">Please complete mandatory field.</div>
                        </div>
                        <div class="mt-3">
                            <label class="form-label fw-bold">Description</label>
                            <input name="description" type="text" class="form-control" placeholder="e.g. marinara sauce, mozzarella, salami, red onion" required> 
                            <div class="invalid-feedback">Please complete mandatory field.</div>
                        </div>
                        <div class="mt-3">
                            <label class="form-label fw-bold">Item Image</label>
                            <input id="itemInput" class="w-100" type="file" name="file" accept=".png, .jpg, .jpeg" required>
                            <div id="" class="invalid-feedback">Please complete mandatory field.</div>
                        </div>
                        <button id="itemUpload" type="submit" class="btn bg-green mt-3 w-100 rounded-5 mt-5">Add</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

<!-- Edit item modal -->
{% for item in items %}
<div class="modal fade" id="editItem{{  item.id  }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"> Update Item </h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="/admin/edit-item" method="POST" enctype="multipart/form-data" class="needs-validation" novalidate>
                    <input type="hidden" name="item_id" value="{{ item.id }}">
                    <div class="mt-3">
                        <label class="form-label fw-bold">Item name</label>
                        <input name="item_name" type="text" class="form-control" placeholder="e.g. Pizza"> 
                        <div class="invalid-feedback">Please complete mandatory field.</div>
                    </div>
                    <div class="mt-3">
                        <label class="form-label fw-bold">Price</label>
                        <input name="price" type="text" class="form-control" placeholder="In format: 25.50 or 100.00" pattern="^^(?!0\d)\d+\.\d{2}$"> 
                        <div class="invalid-feedback">Price should be in format: 25.50 or 100.00</div>
                    </div>
                    <div class="mt-3">
                        <label class="form-label fw-bold">Category</label>
                        <input name="category" type="text" class="form-control" placeholder="e.g. Dinner"> 
                        <div class="invalid-feedback">Please complete mandatory field.</div>
                    </div>
                    <div class="mt-3">
                        <label class="form-label fw-bold">Description</label>
                        <input name="description" type="text" class="form-control" placeholder="e.g. marinara sauce, mozzarella, salami, red onion"> 
                        <div class="invalid-feedback">Please complete mandatory field.</div>
                    </div>
                    <div class="mt-3">
                        <label class="form-label fw-bold">Item Image</label>
                        <input id="itemInput" class="w-100" type="file" name="file" accept=".png, .jpg, .jpeg">
                        <div class="invalid-feedback">Please complete mandatory field.</div>
                    </div>
                    <button type="submit" class="btn bg-green mt-3 w-100 rounded-5 mt-5">Update</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endfor %}

<!-- Delte item modal -->
{% for item in items %}
<div class="modal fade" id="deleteItem{{  item.id  }}" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Confirm Delete</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete this item?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <form action="/admin/delete-item" method="POST">
                    <input type="hidden" name="item_id" value="{{ item.id }}">
                    <button type="submit" class="btn btn-danger" id="confirmDelete">Delete</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endfor %}

    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="m-5 fw-bold">Menu management</h1>
            </div>
            <div class="col text-end">
                <button class="btn btn-lg bg-green w-50 m-5 rounded-5" type="button" data-bs-toggle="modal" data-bs-target="#addItem">
                    Add Item
                </button>
            </div>
        </div>
        
        <table class="table mt-5">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Price</th>
                    <th scope="col">Categories</th>
                    <th scope="col">Description</th>
                    <th scope="col">Image</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {% for item in items %}
                <tr>
                    <th scope="row" style="color: #83B271;">{{ item.name }}</th>
                    <td>${{ "%.2f"|format(item.price) }}</td>
                    <td>{{ item.category }}</td>
                    <td style="max-width: 100px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">{{  item.description  }}</td>
                    <td class="text-center"><img src="{{  item.image_path  }}" style="width:50px; height: 50px;"></td>
                    <td class="text-center">
                        <button class="btn bg-green" type="button" id="{{  item.id  }}" data-bs-toggle="modal" data-bs-target="#editItem{{  item.id  }}">
                            Edit
                        </button> 
                        <button class="btn btn-danger" type="button" id="{{ item.id  }} "data-bs-toggle="modal" data-bs-target="#deleteItem{{  item.id  }}">
                            Delete
                        </button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}