{% extends "/user/base.html" %}

{% block title %} Delivery {% endblock %}

{% block menu %}
    {% if user %}
        <button class="btn menu-button" style="border-radius:12px;" type="button" data-bs-toggle="modal" data-bs-target="#loged">
            <img src="static/images/menu.png" width="40px">
        </button>
    {% else %}
        <button class="btn menu-button" style="border-radius:12px;" type="button" data-bs-toggle="modal" data-bs-target="#myAccount" style="background-color: transparent;">
            <img src="static/images/menu.png" width="40px">
        </button>
    {% endif %}
{% endblock %}

{% block body %}
<div class="container p-3">
    <div class="row">
        <div class="col">
            <h5 class="pb-3"> {{'0' if restaurants == None else restaurants|length}} places <h5>
            <!-- Open now section -->
            <div class="row">
                <div class="col">
                    <h5> Open now </h5>    
                </div>
                <div class="col">
                    <div class="form-check form-switch">
                        <input class="form-check-input custom-switch" type="checkbox" role="switch">
                    </div>
                </div>
            </div>
            
            <!-- Free delivery section -->
            <div class="row pb-3">
                <div class="col">
                    <h5> Free delivery </h5>    
                </div>
                <div class="col">
                    <div class="form-check form-switch">
                        <input class="form-check-input custom-switch" type="checkbox" role="switch">
                    </div>
                </div>
            </div>
        
            <!-- Min order amount section -->
            <div class="row">
                <h5 class="pb-2"> Minimum order amount </h5>    
                <div class="form-check pb-2">
                    <input class="form-check-input custom-switch" type="radio" name="flexRadioDefault" id="flexRadioDefault1" checked>
                    <label class="form-check-label" for="flexRadioDefault1">
                        Show all (69)
                    </label>
                </div>
                  <div class="form-check pb-2">
                    <input class="form-check-input custom-switch" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
                    <label class="form-check-label" for="flexRadioDefault2">
                        35,00 zł or less (18)
                    </label>
                  </div>
                  
                  <div class="form-check pb-2">
                    <input class="form-check-input custom-switch" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
                    <label class="form-check-label" for="flexRadioDefault2">
                        50,00 zł or less (51)
                    </label>
                  </div>
            </div>

        </div>
       
        <div class="col-9">
            <div class="row">
                <div class="col-sm">
                        <form id="searchForm" action="/delivery" method="GET">
                            <input type="search" class="form-control" id="search" name="search" placeholder="Places and items" autocomplete="off" style="border-radius: 12px;">                    
                        </form>
                </div>
                <div class="col-sm">
                    <div class="row">
                        <div class="col-sm">
                            <label class="form-label">Sort By</label>
                        </div>
                        <div class="col-sm">
                            <select class="form-control-sm">
                                <option>Best match</option>
                                <option>Reviews</option>
                                <option>Distance</option>
                                <option>Estimated delivery time</option>
                                <option>Most popular</option>
                                <option>Min. order amount</option>
                                <option>Delivery costs</option>
                                <option>Product price</option>
                                <option>Alphabetical</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            {% for restaurant in restaurants %}      
            <a href="/menu/{{ restaurant.name }}" style="text-decoration: none; color: inherit;">
                <div class="row" style="margin: 0px 0px;">
                    <div class="col p-4 ps-0 pe-0">
                        <div class="container rounded-4 border shadow" style="background-color: rgb(241, 241, 241);">
                            <div class="row">
                                <div class="col-8">
                                    <div class="row p-3">
                                        <h5> {{ restaurant.name }} </h5>
                                        <div class="col-4">
                                            <image class="d-inline" src="static/images/star.png" style="width: 20px;">
                                            <p class="d-inline"> {{ restaurant.rating }} </p>
                                        </div>
                                        <div class="col">
                                            <image class="d-inline" src="static/images/bag.png" style="width: 20px;">
                                            <p class="d-inline"> Min {{ restaurant.min_order_amount }} zł </p>
                                        </div>
                                    </div>
                                </div>
                                <!-- Restaurant Photo -->
                                <div class="col p-0 text-end position-relative">
                                    <img class="ms-5 img-fluid rounded-end-4" src="{{  restaurant.background_image  }}" style="width: 200px; height: 150px; object-fit: cover;">
                                    
                                    <!-- Logo container -->
                                    <div class="position-absolute bottom-0 start-50 translate-middle rounded-3 p-1" style="background: white;">
                                        <img src="{{  restaurant.icon_image  }}" alt="Logo" style="height: 40px; width: 40px;">
                                    </div>
                                </div> 
                            </div>
                        </div>
                    </div>
                </div>
            </a>
            {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}