{% extends "/user/base.html" %}

{% block title %} {{  restaurant.name  }} {% endblock %}
 
{% block menu %}
{% if user %}
    <button class="btn menu-button" style="border-radius:12px;" type="button" data-bs-toggle="modal" data-bs-target="#loged">
        <img src="/static/images/menu.png" width="40px">
    </button>
{% else %}
    <button class="btn menu-button" style="border-radius:12px;" type="button" data-bs-toggle="modal" data-bs-target="#myAccount" style="background-color: transparent;">
        <img src="/static/images/menu.png" width="40px">
    </button>
{% endif %}
{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col p-0 image-container">        
            <img src="{{  restaurant.background_image  }}" class="center-crop">
        </div>
        <div class="logo-container border">
            <img src="{{  restaurant.icon_image  }}" class="logo">
        </div>
        <!-- Shopping cart -->
        <div class="col-3 text-center p-3 position-relative" id="shoppingCart">
            <div class=" shopping-cart text-center p-5">
                <h4>Basket</h4>
                {% if session.get('shopping_cart') %}
                    {% for item in session.get('shopping_cart') %}
                        <div class="row">
                            <div class="col-1">
                                <p class="fw-bold">{{  loop.index  }}.</p>
                            </div>
                            <div class="col text-start">
                                <p class="fw-bold underline-exist">{{  item.name  }}</p>
                                <p class="fw-bold">  {{  item.description  }}</p>
                            </div>
                            <div class="col text-end">
                                <p>${{  item.total_price  }}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-1"></div>
                            <div class="col-4 text-start">
                                <p class="mt-2 underline-exist">Add note</p>
                            </div>
                            <div class="col text-end">
                                <form action="{{  url_for('decrease_quantity', id=item.id  )}}" method="POST" class="d-inline-block">
                                    <button type="submit" class="btn restaurant-button rounded-5 p-2">
                                        <img src="/static/images/minus.png" width="20px">
                                    </button>
                                </form>
                                <p class="d-inline-block ps-3 pe-3">{{  item.quantity  }}</p>
                                <form action="{{  url_for('increase_quantity', id=item.id  )}}" method="POST" class="d-inline-block">
                                    <button type="submit" class="btn restaurant-button rounded-5 p-2">
                                        <img src="/static/images/plus.png" width="20px">
                                    </button>
                                </form>
                            </div>
                        </div>
                        <hr>
                    {% endfor %}
                    <div class="row">
                        <div class="col-1"></div>
                        <div class="col text-start">
                            <p class="fw-bold">Total</p>
                        </div>
                        <div class="col text-end">
                            <p class="fw-bold">${{  session.get("total_price")  }}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col text-start">
                            <form action="{{  url_for('checkout', restaurant_name=session.get('last_restaurant'))  }}" method="POST">
                                <button type="submit" class="btn bg-green rounded-5 p-2 w-100">
                                    <div class="fw-bold">Checkout (${{  session.get("total_price")  }})</div>
                                </button>
                            </form> 
                        </div>
                    </div>
                {% else %}
                <img src="/static/images/bag.png" width="40px">
                <div class="mt-4">
                    <h4>Fill your basket</h4>
                    <h5 class="fw-light">Your basket is empty</h5>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
    <!-- Restaurant information -->
    <div class="row">
        <div class="col pt-5 pb-5">
            <div class="container w-75">
                <div class="row">
                    <div class="col">
                        <h3 class="fw-bold"> {{  restaurant.name  }}</h3>
                    </div>
                    <div class="col text-end">
                        <div class="btn-group">
                            <button class="btn restaurant-button rounded-5 me-2"><img src="/static/images/information.png" width="25px"></button>
                            <button class="btn restaurant-button rounded-5"><img src="/static/images/heart_1.png" width="25px"></button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col text-center"></div>
                </div>
            </div>
        </div>
        <div class="col-3"></div>
    </div>
    <!-- Menu items -->
    {% for category, items in items_by_category.items() %}
    <div class="row">
        <div class="col" style="background-color: #f3f3f3;">
            <div class="container pt-5 pb-5 w-75">
                <div class="row">
                    <div class="col">
                        <h4 class="fw-bold">{{  category  }}</h4>
                        {% for item in items %}
                        <div class="container menu-item mt-3 p-4 pb-2 border rounded-2" style="background-color: white;">
                            <div class="row">
                                <div class="col">
                                    <h5 class="fw-bold">{{ item.name }}</h5>
                                    <p>{{  item.description  }}</p>
                                    <form action="{{  url_for('increase_quantity', id=item.id  )}}" method="POST">
                                        <button type="submit" class="btn bg-green rounded-2">
                                            ${{  item.price  }}
                                        </button>
                                    </form>
                                </div>
                                <div class="col-3 text-center">
                                    <img class="rounded-3" src="/static/images/doner-kebab-gyro-chicken-pizza-doner-kebap-de580f3a9871548de8cec064a0691ecf.png" width="150px">
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3"></div>
    </div>
    {% endfor %}
</div>

{% endblock %}