{% extends "/user/base.html" %}

{% block title %} {{  restaurant.name  }} {% endblock %}
 
{% block menu %}
{% if user %}
    <button class="btn menu-button" style="border-radius:12px;" type="button" data-bs-toggle="modal" data-bs-target="#loged">
        <img src="/static/images/menu.png" width="40px">
    </button>
{% else %}
    <button class="btn menu-button" style="border-radius:12px;" type="button" data-bs-toggle="modal" data-bs-target="#myAccount" style="background-color: transparent;">
        <img src="/static/images/menu.png" width="40px">
    </button>
{% endif %}
{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col p-0 image-container">        
            <img src="{{ restaurant.photo }}" class="center-crop">
        </div>
        <div class="logo-container border">
            <img src="/static/uploads/logo_465x320.png" class="logo">
        </div>
        <div class="col-3 text-center p-3 shadow">
            <h4>Basket</h4>
            <img src="/static/images/bag.png" width="40px">
            <div class="mt-4">
                <h4>Fill your basket</h4>
                <h5 class="fw-light">Your basket is empty</h5>
            </div>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col">
            <div class="container w-75">
                <div class="row">
                    <div class="col">
                        <h3 class=""> {{  restaurant.name  }}</h3>
                    </div>
                    <div class="col text-end">
                        <div class="btn-group">
                            <button class="btn restaurant-button rounded-5 me-2"><img src="/static/images/information.png" width="25px"></button>
                            <button class="btn restaurant-button rounded-5"><img src="/static/images/heart_1.png" width="25px"></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3"></div>
    </div>
</div>

{% endblock %}