<!-- My account -->
<div class="modal fade" id="myAccount" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
   <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"> My account </h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col text-left">
                        <button class="btn bg-green btn-large equal-size" style="border-radius:12px;" type="button" data-bs-toggle="modal" data-bs-target="#signIn">
                            Sign in
                        </button>
                    </div>
                    <div class="col text-center">
                        <button class="btn bg-green btn-large equal-size" style="border-radius:12px;" type="button" data-bs-toggle="modal" data-bs-target="#createAccount">
                            Create account
                        </button>
                    </div>
                </div>
                <div class="row pt-3">
                    <div class="col">
                        <button class="btn w-100 text-left bg-grey-hover">
                            <div class="d-flex align-items-center">
                                <img src="/static/images/bag.png" style="width: 20px;" class="me-2" alt="Bag Icon">
                                <p class="mb-0">Orders</p>
                            </div>
                        </button>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <button class="btn w-100 text-left bg-grey-hover">
                            <div class="d-flex align-items-center">
                                <img src="/static/images/heart.png" style="width: 20px;" class="me-2" alt="Heart Icon">
                                <p class="mb-0">Favourites</p>
                            </div>
                        </button>
                    </div>
                </div>                    
                <hr>
                <div class="row">
                    <div class="col">
                        <form action="/business" method="GET">
                            <button class="btn w-100 text-left bg-grey-hover">
                                <div class="d-flex align-items-center">
                                    <img src="/static/images/briefcase.png" style="width: 20px;" class="me-2" alt="Office Icon">
                                    <p class="mb-0">For business</p>
                                    <!-- <p class="mb-0"> For business </p> -->
                                </div>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
   </div>
</div>


<!-- Sign in content -->
<div class="modal fade" id="signIn" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn btn-back" data-bs-toggle="modal" data-bs-target="#myAccount">
                    <i class="bi bi-arrow-left"></i>
                </button>
                <h4 class="modal-title"> Sign in </h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
             </div>
             <div class="modal-body">
                <form class="form-floating" action="/" method="POST" novalidate="novalidate">
                    <input type="hidden" name="form_type" value="signin">
                    <!-- EMAIL -->
                    <div class="mb-3">
                        <label for="email" class="form-label" style="font-weight: 500;">Email address</label>
                        <input name="email_login" type="email" class="form-control" id="email" placeholder="Email address" autocomplete="off">
                    </div>
                    <!-- PASSWORD -->
                    <div class="mb-3">
                        <label for="password" class="form-label" style="font-weight: 500;">Password</label>
                        <input name="password_login" type="password" class="form-control" id="password_login" placeholder="Password" autocomplete="off">
                    </div>
                    <div class="d-flex justify-content-end mb-3">
                        <button type="button" class="btn btn-sm underline-no-exist">Forgot password?</button>
                    </div>
                    <button type="submit" class="btn w-100 bg-green" style="border-radius: 12px;">Sign in</button>
                </form>
                <div class="d-flex justify-content-center">
                    <button type="button" class="btn btn-sm underline-exist" style="font-weight: 600;" data-bs-toggle="modal" data-bs-target="#createAccount">Create account</button>
                </div>
            </div>
         </div>
    </div>
 </div>
 

 <!-- Create account -->
<div class="modal fade" id="createAccount" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn btn-back" data-bs-toggle="modal" data-bs-target="#myAccount">
                    <i class="bi bi-arrow-left"></i>
                </button>
                <h4 class="modal-title"> Create account </h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
             </div>
             <div class="modal-body">
                <form class="form-floating needs-validation" action="/" method="POST" novalidate oninput='confirm_password.setCustomValidity(password.value != confirm_password.value ? "Passwords do not match." : "")'>
                    <input type="hidden" name="form_type" value="create_account">
                    <!-- EMAIL -->
                    <div class="mb-3">
                        <label for="email" class="form-label" style="font-weight: 500;">Email address</label>
                        <input name="email" type="email" class="form-control" id="email_create_account" placeholder="Email address" required autocomplete="off">
                        <div class="invalid-feedback">Please enter a valid email address.</div>
                    </div>
                    <!-- PASSWORD -->
                    <div class="mb-3">
                        <label for="password" class="form-label" style="font-weight: 500;">Password</label>
                        <input name="password" type="password" class="form-control" id="password" placeholder="Password" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$" required autocomplete="off">
                        <div class="invalid-feedback">Your password should be at least 8 characters long, contain both lower and upper-case letters, and include either a number or a symbol.</div>
                    </div>
                    <!-- CONFIRM PASSWORD -->
                    <div class="mb-3">
                        <label for="password" class="form-label" style="font-weight: 500;">Confirm password</label>
                        <input name="confirm_password" type="password" class="form-control" id="confirm_password" placeholder="Confirm password" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$" required autocomplete="off">
                        <div class="invalid-feedback">The new passwords you entered don't match. Please try again.</div>
                    </div>
                    <button type="submit" class="btn w-100 bg-green mt-3" style="border-radius: 12px;">Create account</button>
                </form>
                <div class="d-flex justify-content-center">
                    <button type="button" class="btn btn-sm underline-exist" style="font-weight: 600;" data-bs-toggle="modal" data-bs-target="#signIn">I already have an account</button>
                </div>
            </div>
         </div>
    </div>
 </div>