{% extends "/user/base.html" %}

{% block title %} Business {% endblock %}

{% block menu %}
    <form action="/business/login" method="GET">
        <button class="btn w-100 text-left menu-button">
            <div class="d-flex align-items-center">
                <img src="static/images/login.png" style="width: 20px;" class="me-2" alt="Office Icon">
                <p class="mb-0" style="color: white;"> Admin log in </p>
            </div>
        </button>
    </form>
{% endblock %}

{% block body %}

<!-- Photo and text -->
<div class="container-fluid bg-image p-5">
    <div class="container p-5">
        <h1 style="color: white;">Boost your business</h1>
        <h1 style="color: white;">with <span style="color: #83B271;">EatIt</span></h1>
        <hr>
        <h4 style="color: white;">Expand your reach and grow your customer base today.</h4>
    </div>
</div>

<!-- How to get started and form -->
<div class="container-fluid">
    <div class="row">
        <div class="col p-5" style="background-color: #EEEEEE;">
            <h3 class="text-center pb-4 mt-4 fw-bold">How to get started</h3>
            <div class="container p-4 rounded-3" style="background-color: #DCAE96; max-width: 60%;">
                <div class="row">
                    <div class="col-2">
                        <img src="static/images/store1.png" class="mt-5">
                    </div>
                    <div class="col">
                        <h4 class="fw-bold pb-2"> Register Now </h4>
                        <h5 class="fw-light">Enter your information in the form provided. We'll gather some details about your venture.</p>
                    </div>
                </div>
            </div>
            
            <div class="container p-4 mt-4 rounded-3" style="background-color: #7698B3; max-width: 60%;">
                <div class="row">
                    <div class="col-2">
                        <img src="static/images/smile1.png" class="mt-5">
                    </div>
                    <div class="col">
                        <h4 class="fw-bold pb-2"> Prepare Your Account </h4>
                        <h5 class="fw-light">Submit your identification, proof of business ownership, and your service or product catalog. You'll receive a starter kit from us shortly after.</p>
                    </div>
                </div>
            </div>

            <div class="container p-4 mt-4 rounded-3" style="background-color: #EADAB8; max-width: 60%;">
                <div class="row">
                    <div class="col-2">
                        <img src="static/images/check1.png" class="mt-5">
                    </div>
                    <div class="col">
                        <h4 class="fw-bold pb-2"> Launch Your Success </h4>
                        <h5 class="fw-light">Start accepting orders and see your revenue grow as customers connect with your offerings.</p>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- Form -->
        <div class="col p-5" style="background-color: #F4F4F4;">
            <div class="container" style="max-width: 70%;">
                <h3 class="pb-4 mt-4 fw-bold">Join us today</h3>
                <form action="/business" method="POST" class="needs-validation" novalidate> 
                    <div class="mt-3">
                        <label class="form-label fw-bold">First name</label>
                        <input name="name" type="text" class="form-control" placeholder="Enter your first name" > 
                        <div class="invalid-feedback">Please complete mandatory field.</div>   
                    </div>
                    <div class="mt-3">
                        <label class="form-label fw-bold">Last name</label>
                        <input name="surname" type="text" class="form-control" placeholder="Enter your last name" >    
                        <div class="invalid-feedback">Please complete mandatory field.</div>   
                    </div>
                    <div class="mt-3">
                        <label class="form-label fw-bold">Business Phone/Mobile</label>
                        <input name="phone_number" type="tel" class="form-control" placeholder="e.g. +48335123784"  pattern="^\+\d{2} \d{3} \d{3} \d{3}$">    
                        <div class="invalid-feedback">Please enter your phone number in the format: +48 697 860 109</div>
                    </div>
                    <div class="mt-3">
                        <label class="form-label fw-bold">Email address</label>
                        <input name="email" type="email" class="form-control" placeholder="e.g. email" >   
                        <div class="invalid-feedback">Please enter your email address</div> 
                    </div>
                    <div class="mt-3">
                        <label class="form-label fw-bold">Name of your restaurant/store</label>
                        <input name="restaurant_name" type="text" class="form-control" placeholder="e.g. Best Pizzeria" >  
                        <div class="invalid-feedback">Please complete mandatory field.</div>  
                    </div>
                    <div class="mt-3">
                        <label class="form-label fw-bold">House number</label>
                        <input name="street_number" type="text" class="form-control" placeholder="e.g. 59">    
                        <div class="invalid-feedback">Please complete mandatory field.</div>
                    </div>
                    <div class="mt-3">
                        <label class="form-label fw-bold">Business Street name</label>
                        <input name="street_name" type="text" class="form-control" placeholder="e.g. Żurawia" >
                        <div class="invalid-feedback">Please complete mandatory field.</div>    
                    </div>
                    <div class="mt-3">
                        <label class="form-label fw-bold">City</label>
                        <input name="city" type="text" class="form-control" placeholder="e.g. Warszawa" > 
                        <div class="invalid-feedback">Please complete mandatory field.</div>   
                    </div>
                    <div class="mt-3">
                        <label class="form-label fw-bold">Postal Code</label>
                        <input name="postal_code" type="text" class="form-control" placeholder="e.g. 00-525"  pattern="^\d{2}-\d{3}$">  
                        <div class="invalid-feedback">Please enter a valid postal code in the format 12-123.</div>  
                    </div>
                    <div class="mt-5">
                        <button type="submit" class="btn btn-lg w-100 bg-green rounded-5">Sign in</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Informations -->
<div class="container-fluid p-5 mt-5">
    <div class="container">
        <div class="row pb-5">
            <div class="col-3">
                <img src="static/images/6528446 1.png">
            </div>
            <div class="col">
                <h2> Amplify Your Reach </h2>
                <h4 class="mt-5 fw-light">
                    Tap into a vast audience by partnering with EatIt, where countless customers flock daily. 
                    Our engaging marketing strategies and in-depth analytics ensure a steady stream of patrons to your doorstep.
                </h4>
            </div>
        </div>
        <div class="row pb-5">
            <div class="col">
                <h2> Risk-Free Partnership </h2>
                <h4 class="mt-5 fw-light">
                    Join us without any upfront fees. Our success is tied to yours, with a commission-based model that ensures our goals align. 
                    Benefit from exclusive deals, discounts, and competitive rates on essentials like packaging, delivery gear, and e-bikes. 
                    Plus, you have the freedom to opt-out anytime.
                </h4>
            </div>
            <div class="col-3">
                <img src="static/images/5847910 1.png">
            </div>
        </div>
        <div class="row pb-5">
            <div class="col-3">
                <img src="static/images/8188951 1.png">
            </div>
            <div class="col">
                <h2> Customize Your Delivery Experience </h2>
                <h4 class="mt-5 fw-light">
                    Your business is the backbone of EatIt. We offer adaptable solutions, 
                    varied delivery options, and dedicated support designed to meet your unique needs, helping you serve your customers your way.
                </h4>
            </div>
        </div>
    </div> 
</div>

<!-- Carousel -->
<div class="container-fluid p-5">
    <div class="container" style="max-width: 80%;">
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="p-4 rounded-4" style="background-color: #D6F7E7;">
                        <h4>Being on EatIt's platform has significantly boosted our order volume and expanded our brand's visibility far beyond expectations. 
                            Thanks to EatIt, we've tapped into a new customer base that was previously out of reach. 
                            This partnership has been invaluable for our growth.
                        </h4>
                        <h5 class="fw-light mt-4">Dawid Graham, Austria @ Cruz Cafe</h5>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="p-4 rounded-4" style="background-color: #D6F7E7;">
                        <h4>Partnering with EatIt's has been a game-changer for La Bella Cucina in Italy. Our local flavors are now enjoyed by a wider audience, driving up sales remarkably. 
                            EatIt's seamless integration and customer service excellence have made this collaboration a cornerstone of our success.
                        </h4>
                        <h5 class="fw-light mt-4">Marco Bianchi, Italy @ La Bella Cucina</h5>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="p-4 rounded-4" style="background-color: #D6F7E7;">
                        <h4>Joining EatIt has opened new horizons for The Spice Route in India. We've seen a substantial increase in orders and our cuisine's 
                            popularity has soared among food lovers. 
                            EatIt's efficient platform and market insight have propelled our restaurant to new heights.
                        </h4>
                        <h5 class="fw-light mt-4">Priya Desai, India @ The Spice Route</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- What you will get content -->
<div class="container-fluid p-5 mt-5" style="background-color: #F4F4F4;">
    <div class="container mt-3" style="max-width: 80%;">
        <div class="row">
            <div class="col">
                <h3 class="pb-4"> What You'll Gain by Partnering with EatIt? </h3>
        <div class="row mt-3">
            <div class="col-1 text-end">
                <img src="static/images/check-icon.png" style="width: 40px;">
            </div>
            <div class="col">
                <h4 class="fw-light"> Branding materials to show you're on EatIt. </h4>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-1 text-end">
                <img src="static/images/check-icon.png" style="width: 40px;">
            </div>
            <div class="col">
                <h4 class="fw-light"> An EatIt device for managing orders. </h4>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-1 text-end">
                <img src="static/images/check-icon.png" style="width: 40px;">
            </div>
            <div class="col">
                <h4 class="fw-light"> Quick-start guide for leveraging our platform. </h4>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-1 text-end">
                <img src="static/images/check-icon.png" style="width: 40px;">
            </div>
            <div class="col">
                <h4 class="fw-light"> Access to our experts and support team. </h4>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-1 text-end">
                <img src="static/images/check-icon.png" style="width: 40px;">
            </div>
            <div class="col">
                <h4 class="fw-light"> Personal dashboard for insights and customer feedback. </h4>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-1 text-end">
                <img src="static/images/check-icon.png" style="width: 40px;">
            </div>
            <div class="col">
                <h4 class="fw-light"> Analytics and business tips. </h4>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-1 text-end">
                <img src="static/images/check-icon.png" style="width: 40px;">
            </div>
            <div class="col">
                <h4 class="fw-light"> Exclusive deals on business essentials. </h4>
            </div>
        </div>
            </div>
            <div class="col-4 mt-4">
                <img src="static/images/terminal.png" style="width: 400px">
            </div>    
        </div>
    </div>
</div>

<!-- Join us today section -->
<div class="container-fluid p-5 mt-3">
    <div class="container text-center" style="max-width: 50%;">
        <h4 class="fw-bold"> Let's reach more customers, cut your costs and </h4>
        <h4 class="fw-bold"> boost your business, together. </h4>
        <button class="mt-4 btn bg-green rounded-5" style="width: 40%;" onclick="scrollToTop()">
            Join us today
        </button>
    </div>
</div>

{% endblock %}
