<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
        <link rel="stylesheet" href="/static/style.css">
        <title>EatIt | {% block title %} {% endblock %}</title>
    </head>
    <body style="background-color: #F4F4F4;">
        <nav class="shadow-lg navbar navbar-expand-xl justify-content-center" style="background-color: white;">
            <a class="navbar-brand" href="/business">
                <img src="/static/images/logo_black.png", style="width: 120px;">
            </a>
        </nav>
        <div class="container-fluid" style="background-color: #BBEBA9;">
            <div class="container text-center p-4">
                <h5 class="mt-5 fw-light">Thank you for signing up to</h5>
                <h3>EatIt! <span>Randomowo!</span></h3>
                <img class="mt-3" src="/static/images/high_five.png" style="width: 400px;">
                <p class="fw-light mt-5">
                    We are delighted to welcome you to EatIt. We will contact you shortly to 
                    make sure <br> that we have all the necessary documents to start cooperation.
                </p>
            </div>
        </div>
        <div class="container-fluid mt-5">
            <div class="container text-center">
                <h3 class="">What's next?</h3>
                <div class="row mt-5 p-5">
                    <div class="col">
                        <img src="/static/images/search.png" width="200px">
                        <h3>We will check the details <br> of your business</h3>
                        <p class="mt-4">We will check the data you provided. Once we have done this, <br> you will receive an email about the next steps.</p>
                    </div>
                    <div class="col">
                        <img src="/static/images/key.png" width="200px">
                        <h3>Creating an account</h3>
                        <p class="mt-4">You can log in to your Affiliate Account and see how easy <br> it is to manage your business.</p>
                    </div>
                </div>
                <div class="row mt-5">
                    <div class="col">
                        <img src="/static/images/chat_bot.png" width="200px">
                        <h3>You will receive a message from us</h3>
                        <p class="mt-4">
                            We will make sure that you have everything to be able to <br> start operating on our website as soon as possible. <br> 
                            You will receive a message from us within 24 hours. <br> The next step is to receive new orders.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <script src="/static/script.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script> 
    </body>
</html>