.equal-size {
   width: 220px;
}

.bg-green:hover {
   background-color: #99c984;
   color: white;
}

 .nav-btn {
    color: black;
    background-color: white;
    border-radius: 20px;
 }


 .line {
    width: 100%;
    height: 1px;
    background-color: white;
    margin-top: 10px;
    margin-bottom: 10px;
 }

 .bg-green {
   border-color: #83B271;
   background-color: #83B271;
   color: white;
}
 
 .bg-grey-hover:hover {
   background-color: rgb(230,230,230);
   border-color: rgb(230,230,230);
 }

 .menu-button:hover {
    background-color: #99c984;
    border-color: #99c984;
 }

 .underline-exist {
   text-decoration: underline;
 }
 
 .underline-exist:hover {
   text-decoration: none;
 }

 .underline-no-exist {
   text-decoration: none;
 }
 
 .underline-no-exist:hover {
   text-decoration: underline;
 }

 .input-group .form-control {
  border-radius: 20px 0 0 20px; /* Adjust as needed */
}

.input-group .btn {
  border-radius: 0 20px 20px 0; /* Adjust as needed */
}

/* google input div */
/* Stylizacja dla usługi autouzupełniania miejsc Google */

/* .pac-container {
    background-color: #ffffff;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    border-radius: 20px;
}

.pac-icon {
    margin-right: 10px;
    color: #888;
}

.pac-item {
    padding: 10px;
    border-bottom: 1px solid #eee;
}

.pac-item:hover {
    background-color: #f0f0f0;
}

.pac-item-selected {
    background-color: #e0e0e0;
}

.pac-item-query {
    color: #000;
    font-weight: bold;
}

/* .pac-matched {
    background-color: #99c984;
} */ */
.pac-item-selected .pac-icon {
    color: green; /* Zmiana koloru ikony na zielony dla wybranego elementu */
}

 .bg-green {
   border-color: #83B271;
   background-color: #83B271;
   color: white;
}
 
 .bg-grey-hover:hover {
   background-color: rgb(230,230,230);
   border-color: rgb(230,230,230);
 }

 .underline-exist {
   text-decoration: underline;
 }
 
 .underline-exist:hover {
   text-decoration: none;
 }

 .underline-no-exist {
   text-decoration: none;
 }
 
 .underline-no-exist:hover {
   text-decoration: underline;
 }

 .input-group .form-control {
  border-radius: 20px 0 0 20px; /* Adjust as needed */
}

.input-group .btn {
  border-radius: 0 20px 20px 0; /* Adjust as needed */
}

/* google input div */
/* Stylizacja dla usługi autouzupełniania miejsc Google */

/* .pac-container {
    background-color: #ffffff;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    border-radius: 20px;
}

.pac-icon {
    margin-right: 10px;
    color: #888;
}

.pac-item {
    padding: 10px;
    border-bottom: 1px solid #eee;
}

.pac-item:hover {
    background-color: #f0f0f0;
}

.pac-item-selected {
    background-color: #e0e0e0;
}

.pac-item-query {
    color: #000;
    font-weight: bold;
}

/* .pac-matched {
    background-color: #99c984;
} */ */

 .bg-green {
   border-color: #83B271;
   background-color: #83B271;
   color: white;
}
 
 .bg-grey-hover:hover {
   background-color: rgb(230,230,230);
   border-color: rgb(230,230,230);
 }

 .underline-exist {
   text-decoration: underline;
 }
 
 .underline-exist:hover {
   text-decoration: none;
 }

 .underline-no-exist {
   text-decoration: none;
 }
 
 .underline-no-exist:hover {
   text-decoration: underline;
 }

 .input-group .form-control {
  border-radius: 20px 0 0 20px; /* Adjust as needed */
}

.input-group .btn {
  border-radius: 0 20px 20px 0; /* Adjust as needed */
}

/* google input div */
.pac-container {
    border: 1px solid #83B271; /* Green border */
    background-color: white; /* White background */
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px #83B271;
    border-radius: 20px; /* Slightly rounded corners for a modern look */
    font-family: Arial, sans-serif; /* Consistent font style */
}

.pac-icon {
    color: #83B271; /* Green icons */
}

.pac-item {
    color: #333; /* Dark text for readability */
    padding: 10px    20px; /* Adequate padding for touch targets */
}

.pac-item:hover {
    background: rgb(238, 238, 238);
}


.pac-item-query {
    font-weight: bold; /* Bold for emphasis */
}

.pac-matched {
    color: #83B271; /* Green text for matched part */
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {   
  border-color: #83B271;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px #83B271;
  outline: 0 none;
}


/* Custom switch style */
.custom-switch:checked {
    background-color: #83B271 !important; /* Green background for checked state */
    outline: none;
    outline: none;
    border: none;
  }
  
  .custom-switch:checked + .form-check-label::before {
    background-color: #83B271 !important; /* Green background for the slider knob in checked state */
    outline: none;
    border: none;
  }
  
  .custom-switch:not(:checked) {
    background-color: #ddd; /* Gray background for unchecked state */
    outline: none;
    border: none;
  }
  
  .custom-switch:not(:checked) + .form-check-label::before {
    background-color: #fff; /* White background for the slider knob in unchecked state */
    outline: none;
    border: none;
  }
  
  .custom-switch:focus {
    outline: none;
    box-shadow: 0 0 0 2px rgba(40, 167, 69, 0.25); /* Green glow for focus */
    outline: none;
    border: none;
  }

.form-check-input.custom-switch:focus {
    outline: none;
    box-shadow: 0 0 0 2px rgba(40, 167, 69, 0.25); /* Green glow for focus */
    outline: none;
    border: none;
}

.form-check-input.custom-switch:checked:focus {
    box-shadow: 0 0 0 2px rgba(131, 178, 113, 0.5); /* Green glow for focus when checked */
    outline: none;
    border: none;
}

.pointer img {
    cursor: pointer;
}

.bg-image-business {
    background-image: url(images/restaurant_delivery2.png);
    background-size: cover;
}

.cursor-pointer {
    cursor: pointer;
}

.text-green {
    color: #83B271;
}

.fit-image {
    max-width: 200px;
    max-height: 100px;
    border-radius: 0 5px 5px 0;
}

.custom-dropdown-button {
    background-color: #83B271;
    border: none;
    border-radius: 12px;
}

.image-container {
    position: relative;
    overflow: hidden; /* This hides the parts of the image that overflow the container */
    height: 200px; /* Set the desired height */
    width: 100%; /* Set the desired width, you might want to keep it at 100% for responsiveness */
}

.center-crop {
    display: block; /* Replaces inline default of img */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: auto;
    width: 100%;
    object-fit: cover; /* This will cover the area of the container without stretching the image */
    object-position: center; /* This will position the center of the image in the center of the container */
}

.logo {
    padding: 5px;
    width: 80px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: auto;
    z-index: 2; 
    position: relative;
    object-position: center;
    object-fit: cover;
}

.logo-container {
    display: block;
    position: absolute;
    overflow: hidden; /* This hides the parts of the image that overflow the container */
    z-index: 3;
    height: 80px; /* Set the desired height */
    width: 80px; /* Set the desired width, you might want to keep it at 100% for responsiveness */
    top: 225px;
    left: 12%;
    background-color: white;
    border-radius: 12px;
}

.restaurant-button {
    background-color: #efefef;
    border-radius: 100%;
}

.restaurant-button:hover {
    background-color: #e0e0e0;
}