{% extends "base.html" %}

{% block title %} Business {% endblock %}

{% block body %}


<!-- Photo and text -->
<div class="container-fluid bg-image p-5">
    <div class="container p-5">
        <h1 style="color: white;">Boost your business</h1>
        <h1 style="color: white;">with <span style="color: #83B271;">EatIt</span></h1>
        <hr>
        <h4 style="color: white;">Expand your reach and grow your customer base today.</h4>
    </div>
</div>

<!-- How to get started and form -->
<div class="container-fluid">
    <div class="row">
        <div class="col p-5" style="background-color: #EEEEEE;">
            <h3 class="text-center pb-4 mt-4 fw-bold">How to get started</h3>
            <div class="container p-4 rounded-3" style="background-color: #DCAE96; max-width: 60%;">
                <div class="row">
                    <div class="col-2">
                        <img src="static/images/store1.png" class="mt-4">
                    </div>
                    <div class="col">
                        <h4 class="fw-bold pb-2"> Register Now </h4>
                        <h5 class="fw-light">Enter your information in the form provided. We'll gather some details about your venture.</p>
                    </div>
                </div>
            </div>
            
            <div class="container p-4 mt-4 rounded-3" style="background-color: #DCAE96; max-width: 60%;">
                <div class="row">
                    <div class="col-2">
                        <img src="static/images/store1.png" class="mt-4">
                    </div>
                    <div class="col">
                        <h4 class="fw-bold pb-2"> Register Now </h4>
                        <h5 class="fw-light">Enter your information in the form provided. We'll gather some details about your venture.</p>
                    </div>
                </div>
            </div>

            <div class="container p-4 mt-4 rounded-3" style="background-color: #DCAE96; max-width: 60%;">
                <div class="row">
                    <div class="col-2">
                        <img src="static/images/store1.png" class="mt-4">
                    </div>
                    <div class="col">
                        <h4 class="fw-bold pb-2"> Register Now </h4>
                        <h5 class="fw-light">Enter your information in the form provided. We'll gather some details about your venture.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col" style="background-color: #F4F4F4;">
            
        </div>
    </div>
</div>
    

{% endblock %}
