<!-- My account -->
<div class="modal fade" id="myAccount" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
   <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4> My account </h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col text-left">
                        <button class="btn bg-green btn-large equal-size" style="border-radius:12px;" type="button" data-bs-toggle="modal" data-bs-target="#signIn">
                            Sign in
                        </button>
                    </div>
                    <div class="col text-center">
                        <button class="btn bg-green btn-large equal-size" style="border-radius:12px;" type="button" data-bs-toggle="modal" data-bs-target="#createAccount">
                            Create account
                        </button>
                    </div>
                </div>
                <div class="row pt-3">
                    <div class="col text-left">
                        <image class="d-inline" src="static/images/bag.png" style="width: 20px;"></image>
                        <p class="d-inline"> Orders </p>
                    </div>
                    <div class="col"></div>
                </div>
                <div class="row">
                    <div class="col text-right">
                        <image class="d-inline" src="static/images/heart.png" style="width: 20px;"></image>
                        <p class="d-inline"> Favourites </p>
                     </div>
                </div>
                <span></span>
                    
            </div>
        </div>
   </div>
</div>